body
{
    padding: 40px 100px;
	text-align: justify;
}
h1
{
	text-align: center;
}
.content{
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.img{
	width: 100%;
}
.text{
	margin-right: 20px;
	margin-left: 10px;
}
.box{
    background-color: lightgray;
    padding: 10px 10px 10px 10px;
}
