h1{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
body{
    /*width: 800px;*/
    font-size: 20px ;
    margin: 0 auto;
    padding: 40px 200px;
    /*padding-bottom: 40px;*/
}
img{
    width: 100%;
}
p{
    text-align: justify;
    margin:0;
}
.container1{
    margin-bottom: 40px;
}
.box{
    background: lightgray;
    padding: 20px;
    height: 100%;
}
.column1{
    display: flex;
    flex-direction: column;
    width: 33%;

}
.column2{
    width: 66%;
    display: flex;
    flex-direction: column;
}
.column3{
    display: flex;
    flex-direction: column;
    width: 50%;

}
